.leaflet-popup h2 {
  font-size: 1.4em;
  font-family: 'WorkSans-Bold';
  line-height: 1em;
}
.leaflet-popup-content p {
    margin: 2px 0;
}
.leaflet-popup .info {
  float: right;
  font-family: 'WorkSans-Bold';
}
.leaflet-popup-content-wrapper {
  border-radius: 0;
}

.leaflet-popup-close-button {
  color: rgb(85, 85, 85);
  font-size: 30px;
}

#map {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:-1;
}

.page #map {
  top: 158px;
}

#map2 {
  position:absolute;
  bottom: 30px;
  left:0;
  z-index:-1;
  width: 200px;
  height: 150px;
  border: medium solid white;
}

.leaflet-control-attribution {
  margin-bottom: 33px;
}

#contentfilter {
  position:absolute;
  right:0;
  top:166px;
  bottom:30px;
  width:400px;
  background:#fff;
  border-left:1px solid #ccc;
  overflow-x:hidden;
  overflow-y:auto;
  padding:15px;
  -moz-box-shadow: 5px 0px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 5px 0px 10px rgba(0,0,0,0.1);
  box-shadow: 5px 0px 10px rgba(0,0,0,0.1);
  z-index: 1;
}

#contentfilter h1 {
  font-size: 30px;
  line-height: 30px;
  font-family: 'WorkSans-Bold';
  color: #e01a4d;
  letter-spacing: -1px;
}

#contentfilter p {
  line-height: 1;
}

#contentfilter p.intro {
  line-height: 1.2;
  padding-top: 15px;
  padding-bottom: 5px;
}

#contentfilter p.buttons {
  margin-top: -30px;
}

.section {
  width: 249px;
  background: #B6CEE5;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 15px;
}

/* Animation */
.map-tile-loaded {
  -webkit-animation-name:fade-in;
  -moz-animation-name:fade-in;
  -ms-animation-name:fade-in;
  -o-animation-name:fade-in;
  -webkit-animation-timing-function:linear;
  -moz-animation-timing-function:linear;
  -ms-animation-timing-function:linear;
  -o-animation-timing-function:linear;
  -webkit-animation-duration:0.2s;
  -moz-animation-duration:0.2s;
  -ms-animation-duration:0.2s;
  -o-animation-duration:0.2s;
}

@-webkit-keyframes fade-in { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fade-in { from { opacity:0; } to { opacity:1; } }
@-ms-keyframes fade-in { from { opacity:0; } to { opacity:1; } }
@-o-keyframes fade-in { from { opacity:0; } to { opacity:1; } }


/* touch tweaks */
* {
  /* prevent callout when holding tap on links (the native dialog that comes up) */
  -webkit-touch-callout:none;

  /* make transparent link selection, adjust last value opacity 0 to 1.0 */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

@media screen and (max-width: 768px) {
  .page #map {
      top: 85px;
  }

  #content {
    border-left:0 !important;
    border-top:1px solid #ccc;
    top:200px !important;
    overflow-y:visible !important;
  }

  #contentfilter {
    display: none;
    left: 55px;
    top: 95px;
    width:80%;
  }

  #contentfilter h1 {
    font-size: 20px;
    line-height: 20px;
  }
}